.most {
  float:left;
}
#Wikiheader {
  text-align: center;
}

.beepic {
  float: right;
}
.facepic {
  float: right;
  font-size: 12px;
  padding: 8px;
}
#col1 {
  background-color: #f5fffa;
}

.panel-default > .panel-heading {
  background: #cef2e0;
}


#col2 {
  background-color: #f5faff;
}
.head1 {
  background-color: #f9f9f9;
}
#main {
  float:right;
}

#sidebar {
  float: left;
  width: 10%;
}


/*#cedff2*/
